#Data structures

1.what are data structures and why are they important?

 ans-

  Organized ways to store/manage data (e.g., list, tuple, set, dict).
 They improve efficiency, readability, and let you pick the right tool for operations (searching, inserting, deduping, mapping).

2.Explain the difference between mutable and immutable data types with examples.
  
  
  ans-
  
  Mutable: can change in place — list, dict, set.
  a = [1,2]; a.append(3)  # a becomes [1,2,3]
-Immutable: cannot change in place — int, float, str, tuple.
s = "hi"; s = s + "!"   # creates a new string.

3.What are the main differences between lists and tuples in Python?
  
  ans-
  
  List: [], mutable, typically for homogeneous/variable data, more methods.

Tuple: (), immutable, hashable if elements are hashable, safer for fixed data; slightly faster and memory-lighter.

4.Describe how dictionaries store data.

ans-

As key→value mappings using a hash table under the hood.
   keys hashed to find value buckets.


5.Why might you use a set instead of a list in Python?

ans-

For uniqueness (auto-deduplication) and fast membership tests (in is average O(1) vs O(n) for lists).

6.What is a string in Python, and how is it different from a list?

ans-

A string is an immutable sequence of Unicode characters; a list is a mutable sequence of arbitrary Python objects.


7.How do tuples ensure data integrity in python?

ans-

Immutability prevents accidental modification; can be used as dict keys and set elements when containing only hashable items.

8.what is a hash table and relation to dictaionaries in python?

ans-


A hash table maps each key’s hash to a slot/index; Python dicts (and sets) use hash tables for fast average O(1) access.

9.Can lists contain different data types in python?

ans-

Yes. Lists can mix types (e.g., [1, "a", 3.5, True]).

10.Explain why strings are immutable in python?

ans-

Design choice for safety, caching/interning, and enabling strings to be hashable (usable as dict keys) and thread-safe.

11.What advantages do dictioary offer over lists for certain tasks?

ans-

Fast lookup by key, natural key→value modeling, no need to scan the whole structure to find a named item.

12.Describe a scenario where using a tuple would be preferable over a list?

ans-

When data is fixed/record-like (e.g., coordinates (x, y)), must be hashable (as a key), or for slight performance/memory gains.

13.How do sets handle duplicate values in python?

ans-

Duplicates are discarded automatically; each element is unique.

14.How does the “in” keyword work differently for lists and dictionaries?

ans-

List: checks if an element equals any item (linear scan).

Dict: checks keys only (average O(1)); use in mydict.values() for values (linear).

15.Can you modify elements of a tuple?Explain why or why not.

ans

No—tuples are immutable. You must create a new tuple, e.g., t = t[:1] + (new,) + t[2:].


16.What is a nested dictionary, and give an example of its use case?

ans-

A dict containing dicts:

students = {"A001": {"name":"Ana","age":20}, "A002": {"name":"Raj","age":22}}


Great for hierarchical/structured data (e.g., records, JSON-like data).

17.Describe the time complexity of accessing elements in a dictionary.

ans-

Time complexity of accessing in a dict
Average case O(1); worst case O(n) is rare (heavy hash collisions).

18.In what situations are lists preferred over dictionaries?

ans-

Ordered sequences, index-based access, duplicates allowed, when order operations like slicing, sorting, or positional iteration matter.

19.Why are dictionary are considered unordered & how does that effect on retrieval?

ans-

They’re mappings keyed by value, not by position; you don’t access by index. (Implementation preserves insertion order since 3.7, but conceptually they’re for key-based access, not positional indexing.)

20.Explain the difference between a list and a dictionary in terms of data retrieval.

ans-

List: retrieve by numeric index (L[i], O(1)); searching by value is O(n).

Dict: retrieve by key (D[key], average O(1)); no positional access.

#Practical questions

1.Write a code to create a string with your name and print it

In [8]:
# 1. Create a string with your name and print it.
name = "xyz"
print(name)

xyz

2.Write a code to find the length of the string "Hello World"

In [9]:
# 2. Length of "Hello World".
s = "Hello World"
print(len(s))

11

3.Write a code to slice the first 3 characters from the string "Python Programming"

In [11]:
#3. Slice first 3 characters from "Python Programming".
s = "Python Programming"
print(s[:3])

Pyt

4.Write a code to convert the string "hello" to uppercase

In [12]:
# 4. Convert "hello" to uppercase.
print("hello".upper())

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [13]:
# 5. Replace "apple" with "orange" in "I like apple".
print("I like apple".replace("apple", "orange"))

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it

In [14]:
# 6. Create a list with numbers 1 to 5 and print it.
lst = list(range(1, 6))
print(lst)

[1, 2, 3, 4, 5]

7.Write a code to create a list with numbers 1 to 5 and print it

In [15]:
# 7. Append 10 to the list [1, 2, 3, 4].
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)  # [1,2,3,4,10]

[1, 2, 3, 4, 10]

8.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [16]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)  # [1,2,4,5]

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [17]:
# 9. Access the second element in ['a', 'b', 'c', 'd'].
lst = ['a', 'b', 'c', 'd']
print(lst[1])  # 'b'

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [18]:
# 10. Reverse the list [10, 20, 30, 40, 50].
lst = [10, 20, 30, 40, 50]
lst.reverse()            # or lst[::-1]
print(lst)               # [50, 40, 30, 20, 10]

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [19]:
# 11. Create tuple (100, 200, 300) and print.
t = (100, 200, 300)
print(t)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple

 ('red', 'green', 'blue', 'yellow').

In [20]:
# 12. Access second-to-last of ('red','green','blue','yellow').
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])  # 'blue'

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [21]:
# 13. Find minimum in (10, 20, 5, 15).
t = (10, 20, 5, 15)
print(min(t))  # 5

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [22]:
# 14. Index of 'cat' in ('dog','cat','rabbit').
t = ('dog', 'cat', 'rabbit')
print(t.index('cat'))  # 1

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [23]:
# 15. Tuple with three different fruits; check if "kiwi" in it.
fruits = ('apple', 'mango', 'banana')
print('kiwi' in fruits)  # False

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [24]:
# 16. Create set {'a','b','c'} and print it.
st = {'a', 'b', 'c'}
print(st)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [25]:
# 17. Clear all elements from {1,2,3,4,5}.
st = {1, 2, 3, 4, 5}
st.clear()
print(st)  # set()

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [26]:
# 18. Remove the element 4 from {1,2,3,4}.
st = {1, 2, 3, 4}
st.remove(4)     # or st.discard(4) to avoid KeyError if missing
print(st)        # {1,2,3}

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [27]:
# 19. Union of two sets {1,2,3} and {3,4,5}.
a, b = {1, 2, 3}, {3, 4, 5}
print(a | b)     # {1,2,3,4,5}

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [28]:
# 20. Intersection of two sets {1,2,3} and {2,3,4}.
a, b = {1, 2, 3}, {2, 3, 4}
print(a & b)     # {2,3}

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [29]:
# 21. Create dict with keys "name", "age", "city".
d = {"name": "Alice", "age": 30, "city": "Paris"}
print(d)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [30]:
# 22. Add key-value pair "country":"USA" to {'name':'John','age':25}.
d = {"name": "John", "age": 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [31]:
# 23. Access value for key "name" in {'name':'Alice','age':30}.
d = {"name": "Alice", "age": 30}
print(d["name"])  # 'Alice'

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [32]:
# 24. Remove key "age" from {'name':'Bob','age':22,'city':'New York'}.
d = {"name": "Bob", "age": 22, "city": "New York"}
d.pop("age")       # or del d["age"]
print(d)           # {'name':'Bob','city':'New York'}

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [33]:
# 25. Check if key "city" exists in {'name':'Alice','city':'Paris'}.
d = {"name": "Alice", "city": "Paris"}
print("city" in d)  # True

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [35]:
 26.# Create a list, a tuple, and a dictionary; print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [36]:
# 27. List of 5 random numbers between 1 and 100, sort ascending, print (replaced).
import random
nums = [random.randint(1, 100) for _ in range(5)]
nums.sort()
print(nums)

[48, 62, 76, 80, 96]

28. Write a code to create a list with strings and print the element at the third index.

In [37]:
# 28. Create a list with strings and print the element at the third index.
lst = ["zero", "one", "two", "three", "four"]
print(lst[3])  # 'three'

three

29. Write a code to combine two dictionaries into one and print the result.

In [38]:
# 29. Combine two dictionaries into one and print result.
d1 = {"a": 1, "b": 2}
d2 = {"b": 99, "c": 3}
combined = d1 | d2          # Python 3.9+: right dict wins on conflicts
# For older versions: combined = {**d1, **d2}
print(combined)             # {'a':1,'b':99,'c':3}

{'a': 1, 'b': 99, 'c': 3}

30. Write a code to convert a list of strings into a set

In [41]:
#30 list of strings
words = ["apple","banana","apple","cherry"]
#convert lists to set (remove duplicates)
words_set= set(words)
print(words)

['apple', 'banana', 'apple', 'cherry']